*{
    font-family: 'Roboto' sans-serif;
}

.container {
    background-color: #000000;
    color:#ffffff;
    border: 5px solid red;
    width: 750px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
}

.rede-social h2 {
    text-align: center;
}


.rede-social ul {
    padding: 0px;
    list-style: none;
    text-align: center;
}

.rede-social li {
    margin-bottom: 10px;
}

.rede-social a {
    text-decoration: none;
    color: #000000;
}

.rede-social a:hover {
    color: #ff0000;
}
