@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

/*======================= HEADER ================================*/
#underline {
    text-decoration: underline;
}
.top-container {
    background-color: #164863;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.celebro-tec-cima {
    position: absolute;
    right: 20%;
}

.celebro-tec-baixo {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

h1 {
    margin: auto;
    font-family: "Sacramento", cursive;
    color: #9BBEC8;
    font-size: 5.5rem;
    line-height: 2;
}

p {
    color:#427D9D;
    text-align: center;
    padding: 10px 0px;
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
    color: #164863;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 10px 0px;
   
}

hr{
    padding: 10px;
}

/*======================= MAIN ================================*/
.midle-container {
    width: 80%;
    margin: auto;
    display: block; 
    
}
    

.midle-profile {
 align-items: center; 
   
}

.midle-figcap-profile {
    text-align: center;
}


#midle-profile-img {
    width: 250px;
    height: 250px;
    margin-left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}
   
  
.midle-skills {
   
   
}

.skill-now {
    
   
}
#midle-skill-img {
    margin-left: 50%;
    transform: translateX(-50%);
    
}

/*======================= FOOTER ================================*/