@charset "UTF-8";



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
}

p {
    color:#427D9D;
    text-align: center;
    padding: 10px 0px;
}

h2, h3 {
    font-family: "Montserrat", sans-serif;
    color: #164863;
    font-size: 2.5rem;
    text-align: center;
    padding: 10px 0px;
   
}

/*======================= HEADER ================================*/
#underline {
    text-decoration: underline;
}
.top-container {
    background-color: #164863;
    text-align: center;
    position: relative;
    padding-top: 30px;
}

.celebro-tec-cima {
    position: absolute;
    right: 20%; 
}

.celebro-tec-baixo {
    position: absolute;
    bottom: 5%;
    left: 15%;
}

h1 {
    margin: auto;
    font-family: "Sacramento", cursive;
    color: #9BBEC8;
    font-size: 5.5rem;
    line-height: 2;
}


hr {
    margin: 30px auto;
    border: dotted #9BBEC8  3px;
    text-align: center;
    display: flex;
    width: 20%;
}

/*======================= MAIN ================================*/
.midle-profile {
    text-align: center;
}

#midle-profile-img {
    padding: 20px;
    width: 30%;
}

.midle-skill {
    text-align: center;
}

.midle-skill-figure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
}

#midle-skill-img-fazer {
    padding: 20px;
    width: 40%;
}

.midle-skill-now {
   text-align: center;
   padding-bottom: 50px;
}

.figure-skill-now {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    flex-direction: row-reverse;
    gap: 20px;
}

#midle-skill-img-fazer2 {
    padding: 20px;
    width: 30%;
}

.figcaption-skill-now > h2 {
    margin-bottom: 25px;
}


/*======================= FOOTER ================================*/

.botton-container {
   text-align: center;
   padding: 20px;
   
}

.botton-container > a{
    margin: 10px 5px;
    text-decoration: none;
}

.botton-container > img {
    paddin: 5px;
}

.botton-container > p {
    margin: 10px;
}